Flows/flows.json
[{"id":"4e4a02de.f1df0c","type":"tab","label":"Trabalho","disabled":false,"info":""},{"id":"5ecdee88.89839","type":"ibmiot out","z":"4e4a02de.f1df0c","authentication":"quickstart","apiKey":"","outputType":"evt","deviceId":"12345678910","deviceType":"1.2.1","eventCommandType":"Status","format":"json","data":"","qos":0,"name":"IBM IoT","service":"quickstart","x":680,"y":120,"wires":[]},{"id":"b41956a0.c3f688","type":"function","z":"4e4a02de.f1df0c","name":"Valor","func":"var min = 20;\nvar max = 40;\n\nvar valor = (Math.random() * (max - min + 1)) + min;\nvalor = Number(valor.toFixed(0));\n\nmsg.payload = {\"d\": {\"temperatura-agua\": {\"valor\": valor}}};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":300,"wires":[["5ecdee88.89839","9797a840.5d4758"]]},{"id":"e6127b7e.2e1998","type":"inject","z":"4e4a02de.f1df0c","name":"Sensor de Temperatura da água","props":[{"p":"payload"},{"p":"config","v":"{\"sensor\":\"temperature\",\"min\":18,\"max\":34,\"ideal_min\":null,\"ideal_max\":32}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":300,"wires":[["b41956a0.c3f688"]]},{"id":"a78b7bb8.b09bd8","type":"function","z":"4e4a02de.f1df0c","name":"Valor","func":"var min = 2.0;\nvar max = 9.5;\nvar valor = (Math.random() * (max - min + 1)) + min;\n\nmsg.payload = {\"d\": {\"oxigenio\": {\"valor\": valor}}};\nvalor = Number(valor.toFixed(1));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":500,"wires":[["5ecdee88.89839","9a7e3818.9bccc8"]]},{"id":"2bb523a4.9bef1c","type":"inject","z":"4e4a02de.f1df0c","name":"Sensor de Oxigênio","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":500,"wires":[["a78b7bb8.b09bd8"]]},{"id":"b83bf868.5390c8","type":"function","z":"4e4a02de.f1df0c","name":"Valor","func":"var min = 60;\nvar max = 150;\n\nvar valor = (Math.random() * (max - min + 1)) + min;\nvalor = Number(valor.toFixed(0));\n\nmsg.payload = {\"d\": {\"alcalinidade\": {\"valor\": valor}}};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":700,"wires":[["5ecdee88.89839","dcc57f6.2735d8"]]},{"id":"773791c9.fad04","type":"inject","z":"4e4a02de.f1df0c","name":"Sensor de Alcalinidade","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":700,"wires":[["b83bf868.5390c8"]]},{"id":"5e631723.7fcf18","type":"function","z":"4e4a02de.f1df0c","name":"Valor","func":"var min = 0;\nvar max = 10;\n\nvar valor = (Math.random() * (max - min + 1)) + min;\nvalor = Number(valor.toFixed(0));\n\nmsg.payload = {\"d\": {\"ph\": {\"valor\": valor}}};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":600,"wires":[["5ecdee88.89839","1bf9aba8.456594"]]},{"id":"c636bfde.fe245","type":"inject","z":"4e4a02de.f1df0c","name":"Sensor de pH","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":600,"wires":[["5e631723.7fcf18"]]},{"id":"b2d7be55.51dda","type":"function","z":"4e4a02de.f1df0c","name":"Valor","func":"var min = 30;\nvar max = 60;\n\nvar valor = (Math.random() * (max - min + 1)) + min;\nvalor = Number(valor.toFixed(0));\n\nmsg.payload = {\"d\": {\"transparencia\": {\"valor\": valor}}};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":900,"wires":[["5ecdee88.89839","5b5971c9.6d19d8"]]},{"id":"1a340ede.903601","type":"inject","z":"4e4a02de.f1df0c","name":"Sensor de Transparência","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":900,"wires":[["b2d7be55.51dda"]]},{"id":"85365aa9.bacd48","type":"catch","z":"4e4a02de.f1df0c","name":"","scope":null,"uncaught":false,"x":1400,"y":400,"wires":[["f691720b.81da5"]]},{"id":"f691720b.81da5","type":"debug","z":"4e4a02de.f1df0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":1630,"y":400,"wires":[]},{"id":"7b5ebc10.e85054","type":"inject","z":"4e4a02de.f1df0c","name":"Ver dados","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1280,"y":120,"wires":[["5b8fc744.0adb38"]]},{"id":"dc79a07b.42be8","type":"debug","z":"4e4a02de.f1df0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1970,"y":120,"wires":[]},{"id":"a31509e7.16bab8","type":"mongodb in","z":"4e4a02de.f1df0c","mongodb":"7e9e1178.74828","name":"","collection":"sensors","operation":"find","x":1730,"y":120,"wires":[["dc79a07b.42be8"]]},{"id":"5b8fc744.0adb38","type":"function","z":"4e4a02de.f1df0c","name":"Mongo - Sort","func":"msg.sort = {\"sensor\":1};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1480,"y":120,"wires":[["a31509e7.16bab8"]]},{"id":"9797a840.5d4758","type":"check-value","z":"4e4a02de.f1df0c","name":"check-temperatura-agua","sensor":"temperatura-agua","minimumValue":"18","maximumValue":"34","idealMinimumValue":"26","idealMaximumValue":"32","x":850,"y":300,"wires":[["74157341.0b6ab4"]]},{"id":"ec77489.4e20bb8","type":"check-value","z":"4e4a02de.f1df0c","name":"check-salinidade","sensor":"salinidade","minimumValue":"0.5","maximumValue":"60","idealMinimumValue":"15","idealMaximumValue":"25","x":830,"y":400,"wires":[["74157341.0b6ab4"]]},{"id":"9a7e3818.9bccc8","type":"check-value","z":"4e4a02de.f1df0c","name":"check-oxigenio","sensor":"oxigenio","minimumValue":"3.7","maximumValue":"8","idealMinimumValue":"5","idealMaximumValue":"8","x":820,"y":500,"wires":[["74157341.0b6ab4"]]},{"id":"d61371b3.9b37e","type":"inject","z":"4e4a02de.f1df0c","name":"Sensor Salinidade","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":400,"wires":[["1ee97008.702b1"]]},{"id":"1bf9aba8.456594","type":"check-value","z":"4e4a02de.f1df0c","name":"check-ph","sensor":"ph","minimumValue":0,"maximumValue":"9","idealMinimumValue":0,"idealMaximumValue":0,"x":800,"y":600,"wires":[["74157341.0b6ab4"]]},{"id":"dcc57f6.2735d8","type":"check-value","z":"4e4a02de.f1df0c","name":"check-alcalinidade","sensor":"alcalinidade","minimumValue":"80","maximumValue":0,"idealMinimumValue":0,"idealMaximumValue":0,"x":830,"y":700,"wires":[["74157341.0b6ab4"]]},{"id":"146d779a.260c58","type":"function","z":"4e4a02de.f1df0c","name":"Valor","func":"var min = 80;\nvar max = 150;\n\nvar valor = (Math.random() * (max - min + 1)) + min;\nvalor = Number(valor.toFixed(0));\n\nmsg.payload = {\"d\": {\"dureza-total\": {\"valor\": valor}}};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":800,"wires":[["5ecdee88.89839","d0155bc7.0331b8"]]},{"id":"8f175da5.0bbae8","type":"inject","z":"4e4a02de.f1df0c","name":"Sensor de Dureza Total","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":800,"wires":[["146d779a.260c58"]]},{"id":"d558877.a744278","type":"function","z":"4e4a02de.f1df0c","name":"Valor","func":"var min = 0.07;\nvar max = 0.14;\n\nvar valor = Math.floor(Math.random() * (max - min + 1)) + min;\nvalor = Number(valor.toFixed(2));\n\nmsg.payload = {\"d\": {\"amonia\": {\"valor\": valor}}};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":1000,"wires":[["5ecdee88.89839","4c668317.7196dc"]]},{"id":"8a934133.6696a","type":"inject","z":"4e4a02de.f1df0c","name":"Sensor de Amônia","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1000,"wires":[["d558877.a744278"]]},{"id":"72cced93.50c5b4","type":"function","z":"4e4a02de.f1df0c","name":"Valor","func":"var min = 0.01;\nvar max = 0.15;\n\nvar valor = (Math.random() * (max - min + 1)) + min;\nvalor = Number(valor.toFixed(2));\n\nmsg.payload = {\"d\": {\"nitrito\": {\"valor\": valor}}};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":1100,"wires":[["5ecdee88.89839","5db16432.b85dac"]]},{"id":"71cf9125.874968","type":"inject","z":"4e4a02de.f1df0c","name":"Sensor de Nitrito","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1100,"wires":[["72cced93.50c5b4"]]},{"id":"d0155bc7.0331b8","type":"check-value","z":"4e4a02de.f1df0c","name":"check-dureza-total","sensor":"dureza-total","minimumValue":"100","maximumValue":0,"idealMinimumValue":0,"idealMaximumValue":0,"x":830,"y":800,"wires":[["74157341.0b6ab4"]]},{"id":"5b5971c9.6d19d8","type":"check-value","z":"4e4a02de.f1df0c","name":"check-transparencia","sensor":"transparencia","minimumValue":"35","maximumValue":"45","idealMinimumValue":0,"idealMaximumValue":0,"x":840,"y":900,"wires":[["74157341.0b6ab4"]]},{"id":"4c668317.7196dc","type":"check-value","z":"4e4a02de.f1df0c","name":"check-amonia","sensor":"amonia","minimumValue":0,"maximumValue":"0.12","idealMinimumValue":0,"idealMaximumValue":0,"x":820,"y":1000,"wires":[["74157341.0b6ab4"]]},{"id":"5db16432.b85dac","type":"check-value","z":"4e4a02de.f1df0c","name":"check-nitrito","sensor":"nitrito","minimumValue":0,"maximumValue":"0.1","idealMinimumValue":0,"idealMaximumValue":0,"x":810,"y":1100,"wires":[["74157341.0b6ab4"]]},{"id":"a87fcef.3ebd6b","type":"function","z":"4e4a02de.f1df0c","name":"Valor","func":"var min = 0;\nvar max = 3;\n\nvar valor = (Math.random() * (max - min + 1)) + min;\nvalor = Number(valor.toFixed(0));\n\nmsg.payload = {\"d\": {\"silicatos\": {\"valor\": valor}}};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":1200,"wires":[["5ecdee88.89839","5b2df0a3.c97438"]]},{"id":"deb0cd33.ebeea","type":"inject","z":"4e4a02de.f1df0c","name":"Sensor de Silicatos","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1200,"wires":[["a87fcef.3ebd6b"]]},{"id":"5b2df0a3.c97438","type":"check-value","z":"4e4a02de.f1df0c","name":"check-silicatos","sensor":"silicatos","minimumValue":"1","maximumValue":0,"idealMinimumValue":0,"idealMaximumValue":0,"x":820,"y":1200,"wires":[["74157341.0b6ab4"]]},{"id":"79b4fe60.b3f858","type":"function","z":"4e4a02de.f1df0c","name":"Valor","func":"var min = 0.0007;\nvar max = 0.004;\n\nvar valor = (Math.random() * (max - min + 1)) + min;\nvalor = Number(valor.toFixed(4));\n\nmsg.payload = {\"d\": {\"h2s\": {\"valor\": valor}}};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":1300,"wires":[["5ecdee88.89839","e886f065.4a9e98"]]},{"id":"b371cd5a.65971","type":"inject","z":"4e4a02de.f1df0c","name":"Sensor de H2S","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1300,"wires":[["79b4fe60.b3f858"]]},{"id":"e886f065.4a9e98","type":"check-value","z":"4e4a02de.f1df0c","name":"check-h2s","sensor":"h2s","minimumValue":"0.001","maximumValue":0,"idealMinimumValue":0,"idealMaximumValue":0,"x":810,"y":1300,"wires":[["74157341.0b6ab4"]]},{"id":"1ee97008.702b1","type":"function","z":"4e4a02de.f1df0c","name":"Valor","func":"var min = 0;\nvar max = 80;\n\nvar valor = (Math.random() * (max - min + 1)) + min;\nvalor = Number(valor.toFixed(0));\n\nmsg.payload = {\"d\": {\"salinidade\": {\"valor\": valor}}};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":400,"wires":[["5ecdee88.89839","ec77489.4e20bb8"]]},{"id":"74157341.0b6ab4","type":"mongodb out","z":"4e4a02de.f1df0c","mongodb":"7e9e1178.74828","name":"","collection":"sensors","payonly":true,"upsert":true,"multi":false,"operation":"update","x":1330,"y":800,"wires":[]},{"id":"3f495f71.d659f","type":"status","z":"4e4a02de.f1df0c","name":"","scope":["9797a840.5d4758","ec77489.4e20bb8","9a7e3818.9bccc8","1bf9aba8.456594","dcc57f6.2735d8","d0155bc7.0331b8","5b5971c9.6d19d8","4c668317.7196dc","5db16432.b85dac","5b2df0a3.c97438","e886f065.4a9e98","74157341.0b6ab4"],"x":1400,"y":340,"wires":[["3437baab.9ba0de"]]},{"id":"3437baab.9ba0de","type":"switch","z":"4e4a02de.f1df0c","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"atention","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1570,"y":340,"wires":[["1892c4db.ded49b"]]},{"id":"1892c4db.ded49b","type":"function","z":"4e4a02de.f1df0c","name":"","func":"var sensor = msg.status.source.name.slice(6);\n\nmsg.payload = {}\nmsg.payload.chatId = 647626151;\nmsg.payload.type = \"message\"\nmsg.payload.content = \"Atenção! O sensor '\" + sensor + \"' está com o valor fora do limite definido.\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1740,"y":340,"wires":[["a400b23f.0d89f8"]]},{"id":"a400b23f.0d89f8","type":"telegram sender","z":"4e4a02de.f1df0c","name":"","bot":"c74252d9.5d2a38","x":1950,"y":340,"wires":[[]]},{"id":"7e9e1178.74828","type":"mongodb","z":"","hostname":"172.17.0.1","topology":"direct","connectOptions":"","port":"27017","db":"test","name":""},{"id":"c74252d9.5d2a38","type":"telegram bot","z":"","botname":"water_quality_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]